@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}
.container {
  text-align: center;
  font-family: sans-serif;
}
body {
  background: linear-gradient(
      rgba(141, 153, 174, 0.8),
      rgba(141, 153, 174, 0.5)
    ),
    url("samuel-beckett-bridge.jpg") no-repeat fixed;
  font-family: "Poppins", sans-serif;
}

.form-section {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80vw;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  text-align: left;
  font-size: 1.25em;
  color: white;
  font-family: "Poppins";
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}

.form-group label {
  display: block;
}

.form-group input,
.form-group select {
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: block;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}
.form-group input[type="radio"] {
  display: inline-block;
  width: auto;
  background-color: red;
  color: red;
  font-size: 100px;
}

.form-group input[type="checkbox"] {
  display: inline-block;
  width: auto;
  background-color: red;
  color: red;
  font-size: 100px;
}
::placeholder {
  color: black;
}
.form-group:last-child {
  display: flex;
  justify-content: center;
  max-width: 80%;
}
#submit {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(160, 241, 3);
  margin-top: 1em;
  width: 80%;
  font-size: 1em;
  justify-content: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}

#comments {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
textarea {
  max-width: 90%;
}
